{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Barcoding LoginPage</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">



<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" action="{% url 'login_page' %}">
        {% csrf_token %}
        <a href="/">
            <h3>Barcoding Login</h3>
        </a>
    

        <label for="username">아이디</label>
        <input type="text" name='user_id' placeholder="Email or Phone" id="username">

        <label for="password">비밀번호</label>
        <input type="password" name='user_password' placeholder="Password" id="password">

        <div class="button-container">
            <button type="submit">로그인</button>
            <a href="{% url 'signup_button' %}">회원가입</a>
        </div>
    </form>
</body>

</html>
