<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>

    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <a href="/">
           <h3>Barcoding Login</h3>
        </a>
    

        <label for="username">아이디</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">비밀번호</label>
        <input type="password" placeholder="Password" id="password">

        <div class="button-container">
          <a href="{% url 'login_button' %}">
              <button class="login-button">로그인</button>
          </a>
          <a href="{% url 'signup_button' %}">
              <button class="signup-button">회원가입</button>
          </a>
        </div>
      
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>