{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <title>메인 페이지</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> 
    <form class='link-all'>
        <a href="/">
        <h3>Barcoding Page</h3>
        </a>
        
        <div class="button-container">
            <!-- 바코드 스캔 페이지로 이동하는 링크 버튼 -->
            <a href="{% url 'scan' %}" class="button barcode-scan">바코드 스캔</a>
            <!-- 로그인 페이지로 이동하는 링크 버튼 -->
            <a href="{% url 'login_page1' %}" class="button login-page">로그인 페이지</a>
            <!-- 입출고 관리 페이지로 이동하는 링크 버튼 -->
            <a href="{% url 'IF_Main' %}" class="button IF-main">입출고 관리</a>
            <!-- 재고조회 페이지로 이동하는 링크 버튼 -->
            <a href="{% url 'IC_Main' %}" class="button IC-main">재고 조회</a>
        </div>
    </form>


</body>
</html>
