<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
        }
    
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <a href="{% url 'run' %}" class="button">바코드 스캔하기</a>
</body>

</html>