<!DOCTYPE html>
<html lang="en">

<head>
    <title>테스트 끝 저장 완료 DB 확인!!</title>

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFC0CB;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
    
        .button:hover {
            background-color: #FFB6C1;
        }
    </style>
</head>

<body>
    <a href="{% url 'test' %}" class="button">바코드 스캔 화면으로 돌아가기</a>
</body>

</html>
